<div class="sidebar">
        
        <div class="sidebar-section">
            <h5><span>Newsletter</span></h5>
            {% include newsletter.html %}
        </div>
            
        <div class="sidebar-section">
            <h5><span>Useful</span></h5>
            <ul style="list-none;">
            <li><a target="_blank" href="{{site.baseurl}}/landing_example.html">Agm Minutes and Agenda </a></li>
            <li><a target="_blank" href="{{site.baseurl}}/landing_example.html">Constitution</a></li>
            <li><a target="_blank" href="{{site.baseurl}}/landing_example.html">Data Protection</a></li>
            <li><a target="_blank" href="{{site.baseurl}}/landing_example.html">Forms to downloads</a></li>
            <li><a target="_blank" href="{{site.baseurl}}/landing_example.html">Past Newsletters</a></li>
            <li><a target="_blank" href="{{site.baseurl}}/landing_example.html">Past Newsletters</a></li>
        </ul>
        </div>
            
                   
</div>